.form{
    background-color: black;
    color: white;


}
:focus{
    background-color: red;
}

.button1{
    
}
.ml-auto, .mx-auto {
    margin-left: 7vh;
}
.form{
    position: relative;
    left: 100vh;
}